.container {
    width: 35rem;
    display: flex;
    align-items: center;
}

/* .container div {
    justify-content: space-between;
} */

.lista {
    margin-left: 1rem;
    justify-content: space-between;
}

.tarefaFinalizada {
    text-decoration: line-through;
    opacity: 70%;
}

.tarefa button {
    height: 10px;
}

.btn-remover {
    margin-left: 0.5rem;
}