#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@font-face {
  font-family: "BeaufortforLOL-Regular";
  /*Can be any text*/
  src: local("BeaufortforLOL-Regular"),
    url("./font/BeaufortforLOL-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "BeaufortforLOL-Bold";
  /*Can be any text*/
  src: local("BeaufortforLOL-Bold"),
    url("./font/BeaufortforLOL-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Spiegel_TT_Bold";
  /*Can be any text*/
  src: local("Spiegel_TT_Bold"),
    url("./font/Spiegel_TT_Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Spiegel_TT_Regular";
  /*Can be any text*/
  src: local("Spiegel_TT_Regular"),
    url("./font/Spiegel_TT_Regular.ttf") format("truetype");
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}