.tarefas {
    width: 35rem;
    margin-bottom: 2rem;
    justify-content: center;
    align-content: center;
}

.tarefa-input {
    width: 18rem;
}

.btn-adicionar {
    margin-left: 1rem;
}

.fonte-LoL {
    font-family: "BeaufortforLOL-Bold";
    color: #C89B3C;
    /* color: #C8AA6E; */
}

.btn-LoL {
    background-color: #C89B3C;
    font-family: "Spiegel_TT_Bold";
}